alabaster==0.7.12
astroid==2.13.5
Babel==2.10.3
bleach==5.0.1
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==3.3.0
colorama==0.4.6
commonmark==0.9.1
dill==0.3.7
docutils==0.19
idna==3.4
imagesize==1.4.1
importlib-metadata==6.8.0
isort==5.12.0
jaraco.classes==3.3.0
Jinja2==3.1.2
keyring==24.2.0
lazy-object-proxy==1.9.0
livereload==2.6.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mccabe==0.7.0
mdurl==0.1.2
more-itertools==10.1.0
natsort==6.2.1
nh3==0.2.14
ordered-set==3.1.1
packaging==21.3
pkginfo==1.9.6
platformdirs==3.11.0
Pygments==2.16.1
pylint==2.15.0
pyparsing==3.0.9
pytz==2022.2.1
pywin32-ctypes==0.2.2
pyxcute==0.6.0
readme-renderer==42.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.6.0
semver==2.13.0
Send2Trash==1.8.2
setuptools==68.2.2
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
tornado==6.3.3
tqdm==4.63.0
twine==4.0.1
typing_extensions==4.8.0
urllib3==2.0.6
webencodings==0.5.1
wrapt==1.15.0
zipp==3.17.0